<div class="row content">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="advance-search">
      <h3>Advance Search</h3>
      <div class="box">
        <form action="">
          <label for="category">Job Category</label>
          <select name="category" id="category" class="form-control input-lg">
            <option>Web Designer</option>
            <option>Developer</option>
          </select>
          <label for="location">Location</label>
          <select name="location" id="locarion" class="form-control input-lg">
            <option>Paris</option>
            <option>Londres</option>
          </select>
          <label for="salary">Salary</label>
          <select name="salary" id="salary" class="form-control input-lg">
            <option>U$1000 - U$5000</option>
            <option>U$5000 - U$9000</option>
          </select>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Freelance
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Contract
          </label><br>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Full time
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option3"> Part time
          </label>
          <buttom class="btn btn-primary btn-block" type="submit">Search</buttom>
        </form>
      </div> <!-- end box div -->
    </div> <!-- end Advance-search div -->
  </div> <!-- end bootstrap col -->
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="job-list">
      <h3>Featured Jobs <span class="small pull-right">1 - 20 results</span></h3>
      <div class="job-description clearfix">
        <div class="job clearfix">
          <div class="col-xs-8">
            <p class="blue">Junior Application Engineer <span class="label label-success">Full time</span></p>
            <p>Google</p>
          </div>
          <div class="col-xs-4 text-right">
            <p>20 Jan 2017</p>
            <p>Berlin, Germany</p>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-8">
            <p class="blue">Junior Application Engineer <span class="label label-info">Full time</span></p>
            <p>Google</p>
          </div>
          <div class="col-xs-4 text-right">
            <p>20 Jan 2017</p>
            <p>Berlin, Germany</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
