<nav class="navbar navbar-default navbar-static-top bg-blue">
  <div class="container">
    <div class="navbar-header">
      <buttom type="buttom" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </buttom>
      <%= link_to "Lancer", root_path, class: "navbar-brand"%>
    </div> <!-- end navbar-header -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav browse-jobs">
        <li class="btn btn-default navbar-btn">Browse all jobs</li>
        <li class="btn btn-warning navbar-btn bg-orange">Post a Job</li>
      </ul>
      <ul class="nav navbar-nav navbar-right login">
        <li class="btn btn-default navbar-btn">Sign In</li>
        <li class="btn btn-warning navbar-btn bg-orange">Sign Up</li>
      </ul>
    </div> <!-- end menu div -->
  </div> <!-- end container div -->
</nav>
