<div class="row">
  <div class="col-sm-12 col-md-12 text-center status">
    <h1>We currently have <span class="orange">25,112</span> job posts but only
      <span class="orange">10,234</span> applicants
    </h1>
  </div>
</div> <!-- end h1 header status row -->
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center search">
    <form action="">
      <div class="form-group">
        <label for="search"></label>
        <input type="text" class="form-control" id="search" placeholder="Exemple: Web Designer">
      </div>
    </form>
  </div>
</div> <!-- end search row -->
