	<div id="top"></div>
	<!-- Progress bar area -->
	<div class="progress bar"></div>
	<a href="#top" class="ui circular icon button" id="toTop" data-slide="slide">
		<i class="angle up icon"></i>
	</a>

	<!-- Navbar fixed top area -->
	<div class="ui fixed top menu">
		<div class="center menu">
			<a href="index.html" class="active item">Home</a>
			<a href="portofolio.html" class="item">Portofolio</a>
			<a href="index.html" class="item logo">Logo</a>
			<a href="" class="icon item logo" id="trigger"><i class="sidebar icon"></i></a>
			<a href="blog.html" class="item">Blog</a>
			<a href="about.html" class="item">About</a>
		</div>
	</div>
	<!-- Collapse Navbar Menu -->
	<div class="ui fluid vertical menu collapse"></div>

	<!-- Slider Container -->
	<div class="ui fluid container slider">
		<div class="owl-carousel" id="single-slider">
		    <div class="item"><img src="assets/img/1000x400.png"></div>
		    <div class="item"><img src="assets/img/1000x400.png"></div>
		    <div class="item"><img src="assets/img/1000x400.png"></div>
		    <div class="item"><img src="assets/img/1000x400.png"></div>
		</div>
	</div>

