	<div class="ui container">
	<!-- Content area -->
	<div class="ui container content">
		<div class="ui stackable doubling grid">
			<!-- Middle Content -->
			<div class="eight wide column">
				<div class="ui horizontal divider"><h2 class='ui teal header'>About us</h2></div>
				<div align="center">
					<p>Thank you for sending your message.</p>
					<p>We'll reply to you soon.</p>
					<blockquote><h5>MUFICATA RTD SL</h5></blockquote>
				</div>
	<!-- Content area -->

				</div><!-- ./8col -->
			<!-- Right Sidebar -->
			<div class="eight wide right aligned column">

			</div><!-- ./8col -->
		</div><!-- ./grid -->
	</div>
</div>

	